<footer>

   
		<div id="footer">
			&#174; Comunitate foto CF| <a href="mailto:oanadima26@gmail.com">Contact: oanadima26@gmail.com</a><br><a href="#top">*Back to the top |  </a>
			<a href="Bibliografie.html">Bibliografie</a>
			 <div id="timp"></div>
		</div>
	
</footer>