<!DOCTYPE HTML>
<html lang="ro">

<head>
		<link href="css/meniu.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css" title="style" />
		<link rel="stylesheet" type="text/css" href="css/media.css" title="style" />
		<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet"><!--pentru fontul importat-->
		<link href="css/galerie.css" type="text/css" rel="stylesheet">
		
		
		 
	<!-- pentru afisarea ca template am downloadat ejs.min.js de la https://github.com/mde/ejs/releases/tag/v3.0.2 -->
	<script src="js/ejs.min.js"></script>

	<script src="js/script.js"></script>
	
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			
  			<meta charset="UTF-8">
  			<meta name="description" content="Comunitate dedicata fotografilor din Romania, dar si celor pasionati de fotografie din intreaga lume, care doresc sa impartaseasca experienta lor in acest domeniu cu cei din jurul lor.">
  			<meta name="keywords" content="comunitate, fotografie, arta, poze, pasiune, portret, peisaj, street life ">
  			<meta name="author" content="Comunitate foto CF">
		
		<title> Comunitate foto CF </title>
		
	<link rel="shortcut icon" type="image/x-icon" href="imag/favicon.ico"/>
	
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/task5.js"></script>
	<script type="text/javascript" src="js/task1.js"></script>
	
	
</head>

<body>
	
	<div id="main">
<!-- cod ejs -->
<!-- cand pun - spun ca sirul respectiv sa aiba tagurile interpretate ca taguri -->
<%- include("../fragmente/header")  %> <!-- extensia nu e necesara -->


		
		
<main>	
	
	<div id="site_content">
	
		<!--coloana dreapta-->
			<div class="sidebar">
   
					
					<h3>Ultimele noutati in fotografie </h3>
						<h4>Fujifilm X-T4</h4>
							<h5>30 Martie 2020</h5>
								<p>Fujifilm anunta lansarea noului aparat mirrorless X-T4, disponibil dupa data de 15 aprilie 2020.<br>
									<a href="https://blog.f64.ro/2020/02/26/fujifilm-lanseaza-noul-mirrorless-x-t4/">Afla mai mult</a></p>
						<br>
						<h4>Sony FE 20mm F1.8G</h4>
							<h5>29 Martie 2020</h5>
								<p>Completand gama extinsa de obiective Full Frame cu montura E native, Sony lanseaza astazi un nou obiectiv din seria G LensTM, noul obiectiv FE 20mm F1.8 G.<br>
									<a href="https://blog.f64.ro/2020/02/26/sony-lanseaza-noul-obiectiv-fe-20mm-f1-8-g/">Afla mai mult</a></p>
				
				
					<h3>Ne gasesti aici:</h3>
						<ul>
							<li><a href="https://www.instagram.com/comunitatefoto/?hl=ro"><img src="imag/insta.png" class="facebook" alt="facebook icon" title="Facebook"/></a></li>
							<li><a href="https://www.facebook.com/ComunitateFoto/"><img src="imag/fb.png" class="facebook" alt="instagram icon" title="Instagram"/></a></li>    
						</ul>
			
			
			
					
			</div>
	  
	  
		<!--continut-->
	  
		<div id="content">
		
			
		
		
		 
			<!--<h1>JSON</h1>-->
			
			<div id="afisJson"></div>
		
			<!--<p>Cu template:</p>-->
		
			
		
		
			<div class="intro">
				<h1>Bine ai venit !</h1>
			
				<p>
				Daca esti un entuziast in domeniul <b>fotografiei</b>, acest loc este facut special pentru tine. 
				Daca ne vizitezi pentru prima oara si nu ai mai auzit de noi, te invitam sa-ti arunci putin privirea in sectiunea <a href="Despre.html">Despre</a>. 
				</p>
				
				<p>Sortare:
				<button id="sorteaza_voturi">Sorteaza descrescator dupa voturi</button>
				</p>
				
				<!--<button id="pt">Portret</button>
				<button id="pj">Peisaj</button>
				<button id="fl">Flori</button>-->
				
				<div> Filtreaza dupa categorie: portret, peisaj, flori<br>
					<label>Portret
						<input id="i_rad1" name="gr_rad" value="portret" type="radio"/>
					</label>
					<label>Peisaj
						<input id="i_rad2" name="gr_rad" value="peisaj" type="radio"/>
					</label>
					<label>Flori
						<input id="i_rad3" name="gr_rad" value="flori" type="radio"/>
					</label>
					
				</div>
				
				<button id="preia">Preia valori</button>
				
				
				</p>
				<p>Calculeaza:Poza cu cea mai mica nota/cea mai mare nota</p>
				<!--<button id="nota_min">Poza cu cea mai mica nota</button>
				<button id="nota_max">Poza cu cea mai mare nota</button>-->
				
				<label>Select simplu:
				
					<select id="i_sel_simplu">
			
						<option value="min" name="select" selected>nota minima</option>
						<option value="max" name="select">nota maxima</option>
			
					</select>
				</label>


				<button id="preia2">Preia valori</button>
				
				
				<p id="insert">Reseteaza:
				<button id="reset" class="reseteaza">Reseteaza</button>
				</p>
				
				
				<!-- aici se va afisa continutul JSON-ului cu formatul din template-ul definit in script -->
				<div class="afis" id="afisTemplate"></div>
				
				
				
			</div>
			<div id="galerie_exemplu" class="gal">
							<div>
								<figure>
									<img src="imgcont/1.jpg" alt="Natura" />
									<figcaption>Natura</figcaption>
								</figure>
								<figure>
									<img src="imgcont/2.jpg" alt="Artist" />
									<figcaption>Artist</figcaption>
								</figure>
								<figure>
									<img src="imgcont/3.jpg" alt="Delicatete" />
									<figcaption>Delicatete</figcaption>
								</figure>
								<figure>
									<img src="imgcont/4.jpg" alt="Primavara" />
									<figcaption>Primavara</figcaption>
								</figure>
								<figure>
									<img src="imgcont/5.jpg" alt="Oameni" />
									<figcaption>Oameni</figcaption>
								</figure>
								<figure>
									<img src="imgcont/6.jpg" alt="Still Life" />
									<figcaption>Still Life</figcaption>
								</figure>
								<figure>
									<img src="imgcont/9.jpg" alt="Portret" />
									<figcaption>Portret</figcaption>
								</figure>
							</div>
						</div>
			
			
			
			
			
		</div>
		
   </div>
	
</main>	
<%- include("../fragmente/footer")  %> <!-- extensia nu e necesara -->

</div>
</body>
</html>
